COMMDEV_TESTBED_NAME=commdev-comms-testbed
COMMDEV_COMMS_NETWORK=commdev-comms-net
COMMDEV_COMMS_SUBNET=192.168.10.0/24
COMMDEV_COMMS_GATEWAY=192.168.10.1
BOARD_A_IPV4_ADDRESS=192.168.10.10
BOARD_B_IPV4_ADDRESS=192.168.10.11
COMM_LOG_LEVEL=info
OPCUA_NAMESPACE=urn:commdev:opcua